@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
	font-weight: normal;
	font-style: normal;
}

#headerText{
	margin-top: 30px;
	margin-bottom: 30px;
}

h2 {
	text-align: center;
}

.responsive {
	width: 100%;
	height: auto;
  }

.responsive:hover {
	box-shadow: 0 0 17px rgba(255, 0, 157, 0.678); 
}


  